# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
.classpath
.project
.settings
eclipse
javadoc
lib
log
logs
modules
nbproject
precompiled
tmp
test-result
eclipse
server.pid
*.db
*.iws
*.ipr
*.iml
*.log

# Comment out the line below if you want to to keep track of application.override.conf (Useful when you want to push it to Heroku too)
conf/application.override.conf