# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
.classpath
.project
.settings
conf/application.conf
db
eclipse
javadoc
lib
log
logs
modules
nbproject
precompiled
tmp
test-result
eclipse
server.pid
*.iws
*.ipr
*.iml
*.log
