<div class="${_field.errorClass} row">
    <div class="two mobile-one columns">
        <label for="${_field.id}" class="right inline ${_field.error == null ? '' : 'error'}">
            #{if _label}
                ${_label}
            #{/if}
            #{else}
                &{_field.name}
            #{/else}
        </label>
    </div>
    <div class="ten columns">
        #{doBody /}
        <small class="error ${_field.error == null ? 'hide' : '' }">
            ${_field.error}
        </small>
        #{if _help}
            <div class="small help-block">
                &{_help}
            </div>
        #{/if}
    </div>
</div>