<table class="document-stats">
    <tr>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.votesIconHelp'}">
                <i class="document-stat-icon icon-thumbs-up"></i>
                <div class="document-stat-number document-${_discussion.id}-voteCount">${_discussion.voteCount}</div>
            </div>
        </td>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.viewsIconHelp'}">
                <i class="document-stat-icon icon-eye"></i>
                <div class="document-stat-number">${_discussion.viewCount}</div>
            </div>
        </td>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.commentsIconHelp'}">
                <i class="document-stat-icon icon-comments-2"></i>
                <div class="document-stat-number">${_discussion.commentCount}</div>
            </div>
        </td>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.documentsIconHelp'}">
                <i class="document-stat-icon icon-copy"></i>
                <div class="document-stat-number">${_discussion.documentCount}</div>
            </div>
        </td>
    </tr>
</table>