#{extends 'web.html' /}
#{set 'title'}&{'welcome'}#{/set}
<div class="row">
    <div class="twelve column">
        <h1>&{'_.welcome', siteName}</h1>
        <p class="panel">
            ${siteDescription}
        </p>
    </div>
</div>
<div class="row">
    <div class="four column">
        <h3>&{'_.explore'}</h3>
        <i class="home-hero-icon icon-big icon-copy color-one"></i>
        <p>
            &{'_.explore.expand'}
        </p>
    </div>
    <div class="four column">
        <h3>&{'_.discuss'}</h3>
        <i class="home-hero-icon icon-big icon-comments color-two"></i>
        <p>
            &{'_.discuss.expand'}
        </p>
    </div>
    <div class="four column">
        <h3>&{'_.share'}</h3>
        <i class="home-hero-icon icon-big icon-upload color-three"></i>
        <p>
            &{'_.share.expand'}
        </p>
    </div>
</div>
<div class="row">
    <div class="twelve column">
        <hr />
    </div>
</div>
<div class="row">
    <div class="four column">
        <h4 class="box-header">&{'_.recentDocuments'}</h4>
        #{list recentDocuments}
            <div class="box-list-row">
                #{document.title document : _ /}
                <div class="small document-time right">
                    <i class="icon-clock"></i> #{block.time time : _.created /}
                </div>
                <div class="small">
                    #{user.picture showName : true, size : 15, user : _.owner /}
                </div>
            </div>
        #{/list}
        <p>
            <i class="icon-folder"></i> #{a @web.Documents.list()}<strong>All categories</strong>#{/a}
            #{list documentCategories}
                - #{a @web.Documents.list(null, _.id, null, null)}${_.name}#{/a}
            #{/list}
        </p>
    </div>
    <div class="four column">
        <h4 class="box-header">Recent discussions</h4>
        #{list recentDiscussions}
            <div class="box-list-row">
                #{discussion.title discussion : _ /}
                <div class="small document-time right">
                    <i class="icon-clock"></i> #{block.time time : _.created /}
                </div>
                <div class="small">
                    #{user.picture showName : true, size : 15, user : _.user /}
                </div>
            </div>
        #{/list}
        <p>
            <i class="icon-folder"></i> #{a @web.Discussions.list()}<strong>All categories</strong>#{/a}
            #{list discussionCategories}
                - #{a @web.Discussions.list(null, _.id, null, null)}${_.name}#{/a}
            #{/list}
        </p>
    </div>
    <div class="four column">
        <h4 class="box-header">&{'_.newestMembers'}</h4>
        <div class="home-users-list clearfix">
            #{list recentUsers}
                #{user.picture user : _, size : 50 /}
            #{/list}
        </div>
    </div>
</div>