#{extends 'web.html' /}
#{set 'title'}&{'welcome'}#{/set}
<div class="row-fluid">
    <div class="span8">
        <div class="well well-small">
            <h2>Welcome to ${play.configuration.getProperty('application.fullName')}</h2>
            <p>Your description goes here.</p>
            <p></p>
        </div>
    </div>
    <div class="span4">
        <p>
            <a href="@{web.Documents.list()}">Explore</a> open documents and data. Discuss and copy them to your Google Drive account.
            You can also <a href="@{web.Documents.add()}">share documents</a> with the rest of the community.
        </p>
        #{ifnot me}
            <p>
                <a href="@{web.Auth.googleCode()}" class="btn btn-danger">Sign in with your Google account</a>
            </p>
        #{/ifnot}
    </div>
</div>
<div class="row-fluid">
    <div class="span8">
        <div class="box">
        </div>
        <div class="box">
            <h3>&{'Recent Documents'}</h3>
            <div class="row-fluid box-content-white">
                #{list recentDocuments}
                    <div class="span3">
                        <div class="document-preview thumbnail">
                            <a href="${_.permalink}">
                                <img src="${_.thumbnailUrl}"/>
                            </a>
                            <div class="document-preview-title">
                                <a href="${_.permalink}">
                                    ${_.title}
                                </a>
                            </div>
                        </div>
                    </div>
                #{/list}
            </div>
            <div class="row-fluid">
                <div class="span12">
                    #{a @web.Documents.list()}<strong>Explore all documents</strong>#{/a}
                    #{list categories}
                    - #{a @web.Documents.list(null, _.id, null, null)}${_.name}#{/a}
                    #{/list}
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="box">
            <h3>&{'Newest Members'}</h3>
            <div class="row-fluid box-content-white">
                <ul class="unstyled">
                    #{list recentUsers}
                    <li class="span2">
                        #{user.picture user : _, size : 50 /}
                    </li>
                    #{/list}
                </ul>
            </div>
        </div>
    </div>
</div>