<div class="clearfix">
    <div class="comment-picture">
        #{user.picture user : _comment.author, size : 30 /}
    </div>
    <div class="comment-content" id="comment-content">
        <p>
            ${_comment.content}
        </p>
        <div class="small">
        <strong>
            #{user.name user : _comment.author /}
        </strong>
        - <em class="small timeago" title="${_comment.created}">${_comment.created}</em>
            #{if _me?.id == _comment.author.id}
                <strong>
                    #{a @api.Comments.delete(_comment.id), class : 'comment-delete'}
                        Delete
                    #{/a}
                </strong>
            #{/if}
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.timeago').timeago();
</script>