<div class="comment-list-item clearfix">
    #{user.picture user : _comment.author, size : 60, class : 'comment-list-item-user-picture pull-left' /}
    <div class="comment-list-item-body">
        <div class="comment-list-item-user-name">
            #{user.name user : _comment.author /}
        </div>
        <p>
            ${_comment.content}
        </p>
        <div class="comment-list-item-extras">
            <span class="comment-list-item-date"> <i class="icon-time"></i> <em class="timeago" title="${_comment.created}">${_comment.created}</em></span>
            #{if _me?.id == _comment.author.id}
            -
            <strong>
                #{a @api.Comments.delete(_comment.id), class : 'comment-delete'}
                    <i class="icon-trash"></i> Delete
                #{/a}
            </strong>
            #{/if}
        </div>
    </div>
</div>
<script type="text/javascript">$('.timeago').timeago();</script>