<div class="comment-list">
    #{if comments}
        #{list comments}
            #{comment.list-item comment : _, me : me /}
        #{/list}
    #{/if}
    #{else}
        <p class="alert alert-info">
            &{'comment.list.empty'}
        </p>
    #{/else}
</div>
#{if me}
    <div class="comment-new clearfix">
        <div class="comment-new-picture">
            #{user.picture user : me, size : 60 /}
        </div>
        <div class="comment-new-content">
            #{form @api.Comments.create(), class : 'comment-new-form', id : 'new-comment'}
                <div class="alert-box hide">
                </div>
                <input type="hidden" name="comment.objectId" value="${objectId}" />
                <input type="hidden" name="comment.objectType" value="${objectType}" />
                <div class="control-group">
                    <textarea name="comment.content" rows="4"></textarea>
                </div>
                <div class="control-group">
                    <input type="submit" class="button small button-comment-create" value="&{'comment.post'}"/>
                </div>
            #{/form}
        </div>
    </div>
#{/if}
#{else}
    <p class="alert-box">
        #{if objectType == 'document'}
            <a href="/auth/google/code?next=@{web.Documents.go(objectId)}">&{'comment.auth.login.needed'} </a>
        #{/if}
    </p>
#{/else}
