#{extends 'web.html' /}
#{set 'title'}
    &{'_.uploadDocument'}
#{/set}
#{i18n keys:['document.view', 'document.editDetails', 'document.upload.error'] /}
<div class="row">
    <div class="eight columns">
        <div class="alert-box alert hide">
            <h3>&{'_.error.title'}</h3>
            <p> </p>
        </div>
        #{form @api.Documents.create(), enctype:'multipart/form-data', class : 'document-upload-form'}
            #{field 'document.title'}
                #{form.input field : field, value : document?.title, class : 'input-xxlarge', required : true /}
            #{/field}
            #{field 'document.category.id'}
                #{form.select field : field, items : categories, valueProperty : 'id', labelProperty : 'name',  value : document?.category?.id, required : true /}
            #{/field}
            #{field 'file'}
                #{form.input field : field, type : 'file', 'help' : '.pdf, .doc, .docx, .ppt, .pptx, .txt, .rtf, .html' , required : true /}
            #{/field}
            #{field 'document.description'}
                #{form.textarea field : field, value : document?.description, class : 'input-xxlarge', required : true /}
            #{/field}
            #{field 'document.source'}
                #{form.input field : field, value : document?.source, class : 'input-xxlarge', 'help' : 'document.source.help', required  : false /}
            #{/field}
            #{field 'document.tags'}
                #{form.input field : field, value : document?.tags, class : 'input-xxlarge', 'help' : 'tags.help', required : true /}
            #{/field}
            <div class="alert-box">
                <i class="icon-google-drive"></i> &{'document.upload.notice'}
            </div>
            <div class="form-actions">
                <div class="progress progress-striped active hide">
                    <div class="bar" style="width: 0%;"> </div>
                </div>
                <button type="submit" value="" class="button success button-upload" data-loading-text="&{'_.loading'}">
                    <i class="icon-upload"></i> &{'document.upload.submit'}
                </button>
            </div>
        #{/form}
        <div id="upload-result" class="hide">
            <div class="alert-box success">
                <h3>&{'_.success.title'}</h3>
                <p>
                    &{'document.upload.success'}
                </p>
            </div>
            <div class="row">
                <div class="four columns">
                    <div class="result-document-thumbnail"> </div>
                </div>
                <div class="eight columns">
                    <div class="result-document-info">
                        <h3 class="result-document-title"> </h3>
                        <p class="alert alert-info">&{'document.upload.thumbnail.notice'}</p>
                        <span class="result-document-read-link"> </span>
                        <span class="result-document-edit-link"> </span>
                        <hr />
                        <div>
                            <a href="@{web.Documents.add()}" class="button"><i class="icon-upload"> </i> &{'document.shareAnother'}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
    (function() {
        $('.button-upload').button();
        var barElement = $('.bar');

        $('form.document-upload-form').ajaxForm({
            beforeSubmit: function() {
                $('.document-upload-form .button').button('loading');
                $('.progress').show();
                $('.progress').removeClass('progress-danger');
                $('.alert-box.alert').hide();
                $('.document-upload-form input').removeClass('error');
                $('.document-upload-form textarea').removeClass('error');
                $('.document-upload-form label').removeClass('error');
                $('.document-upload-form small.error').hide();
                //$('.control-group').find('.label').html("").hide();
                var percentVal = '0%';
                barElement.css('width', percentVal)
            },
            uploadProgress: function(event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                barElement.css('width', percentVal)
            },
            success: function(document) {
                barElement.parents('.progress').addClass('progress-success');
                $('.document-upload-form').slideUp('slow');
                $('.document-upload-form').remove();
                $('.result-document-thumbnail').html('<a href="' + document.permalink + '" class="th"><img src="' + document.thumbnailUrl +'" alt="' + document.title + '" /></a>');
                $('.result-document-title').html('<a href="' + document.permalink + '">' + document.title + '</a>');
                $('.result-document-read-link').html('<a href="' + document.permalink + '" class="button"><i class="icon-eye"></i> ' + i18n('document.view') + '</a>');
                $('.result-document-edit-link').html('<a href="/documents/' + document.id + '/edit" class="button"><i class="icon-pencil"></i> ' + i18n('document.editDetails') + '</a>');
                $('#upload-result').show();
            },
            error: function(xhr) {
                $('.button').button('reset');
                if (xhr.status == 500) {
                    $('.alert-error p').html(i18n('document.upload.error'));
                    $('.alert-error').show();
                } else if (xhr.status == 400) {
                    $('.alert-error p').html(i18n('document.upload.error'));
                    $('.alert-error').show();
                    var errors = JSON.parse(xhr.responseText);
                    $.each(errors, function(field, message){
                        $('[name=\'' + field + '\']').addClass('error');
                        $('[name=\'' + field + '\']').parents('.row').first().find('small.error').html(message).show();
                    });
                }
                barElement.parents('.progress').addClass('progress-danger');
            }
        });
    })();
</script>
#{/set}