#{extends 'web.html' /}
#{set title : document.title/}
#{set 'subTitle'}
    &{'document.edit'}
#{/set}
#{i18n keys:['document.update.error', 'document.update.success', 'document.delete.success', 'document.delete.error'] /}
<div class="row-fluid">
    <div class="span12">
        <div class="alert hide" id="result">
            <p class="message">
            </p>
        </div>
        #{form @api.Documents.update(document.id), enctype:'multipart/form-data', class : 'form-horizontal'}
            #{field 'document.title'}
                #{form.input field : field, value : document?.title, class : 'input-xxlarge', required  : true /}
            #{/field}
            #{field 'document.category.id'}
                #{form.select field : field, items : categories, valueProperty : 'id', labelProperty : 'name',  value : document?.category?.id /}
            #{/field}
            #{field 'document.description'}
                #{form.textarea field : field, value : document?.description, class : 'input-xxlarge', required  : true /}
            #{/field}
            #{field 'document.source'}
                #{form.input field : field, value : document?.source, class : 'input-xxlarge', required  : false /}
            #{/field}
            <div class="form-actions">
                <input type="submit" value="&{'document.update'}" class="btn btn-primary" data-loading-text="&{'_.loading'}"/>
                #{a @web.Documents.read(document?.id, document?.slug), class : 'btn btn-success'}&{'_.cancel'}#{/a}
            </div>
        #{/form}

        #{a @api.Documents.delete(document.id), class : 'btn btn-danger', 'data-loading-text' : messages.get('_.loading')}&{'document.delete'}#{/a}
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
    $('button.btn').button();
    $(document).ready(function() {
         $('.btn-primary').click(function() {
            $('#result').removeClass('alert-error');
            $('#result').removeClass('alert-success');
            var btn = this;
            $(btn).button('loading');
            var updateDocumentAction = #{jsRoute @api.Documents.update(':id') /};
            $.ajax({
                url : updateDocumentAction.url({id : ${document.id}}),
                type : updateDocumentAction.method,
                data : $('form').serialize()
            }).success(function(data) {            
                $('#result').addClass('alert-success').html(i18n('document.update.success'));
            }).error(function(data) {                
                $('#result').addClass('alert-error').html(i18n('document.update.error'));
            }).complete(function() {                
                $('#result').removeClass('hide');
                $(btn).button('reset');
            });
            return false;
         });
         
         $('.btn-danger').click(function() {
            var btn = this;
            $(btn).button('loading');
            $('#result').removeClass('alert-error');
            $('#result').removeClass('alert-success');
            var deleteDocumentAction = #{jsRoute @api.Documents.delete(':id') /};            
            $.ajax({
                url : deleteDocumentAction.url({id : ${document.id}}),
                type : deleteDocumentAction.method,
                data : { authenticityToken : '${session.authenticityToken}'}
            }).success(function(data) {            
                $('#result').addClass('alert-success').html(i18n('document.update.success'));
                window.location = '@@{web.Documents.list()}';
            }).error(function(data) {                
                $('#result').addClass('alert-error').html(i18n('document.delete.error'));
            }).complete(function() {
                $('#result').removeClass('hide');
                $(btn).button('reset');
            });
            return false;
         });
    });
</script>
#{/set}