#{extends 'web.html' /}
#{set title : 'Documents' /}

#{if order == null}
    #{set 'title' }
        &{'Documents'}
    #{/set}
#{/if}

#{if keyword}
    #{set 'subTitle' }
        #{if get('subTitle')}
            #{get 'subTitle' /} -
        #{/if}
        '${keyword}'
    #{/set}
#{/if}

#{if category}
    #{set 'subTitle' }
        #{if get('subTitle')}
            #{get 'subTitle' /} -
        #{/if}
        ${category.name}
    #{/set}
#{/if}

#{if order}
    #{set 'subTitle' }
        #{if get('subTitle')}
            #{get 'subTitle' /} -
        #{/if}
        &{'document.list.order.' + order}
    #{/set}
#{/if}

<div class="row-fluid">
    <div class="span2">
        <div class="control-group">
            #{if keyword}
                <a href="@{web.Documents.list()}">&{'document.list.clearSearchOptions'}</a>
            #{/if}
        </div>
        <ul class="nav nav-list">
            <li class="nav-header">
                <i class="icon-sort"></i> Sort by </span>
            </li>
            <li class="${order == null || order == 'recent' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'recent', null)}">
                    &{'document.list.order.recent'}
                </a>
            </li>
            <li class="${order == 'likes' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'likes', null)}">
                    &{'document.list.order.likes'}
                </a>
            </li>
            <li class="${order == 'copies' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'copies', null)}">
                    &{'document.list.order.copies'}
                </a>
            </li>
            <li class="${order == 'downloads' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'downloads', null)}">
                    &{'document.list.order.downloads'}
                </a>
            </li>
            <li class="${order == 'views' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'views', null)}">
                    &{'document.list.order.views'}
                </a>
            </li>
            <li class="${order == 'comments' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'comments', null)}">
                    &{'document.list.order.comments'}
                </a>
            </li>
        </ul>
        <hr />
        <ul class="nav nav-list">
            <li class="nav-header">
                <i class="icon-folder-open"></i> Category
            </li>
            <li class="${category == _null ? 'active' : ''}">
                #{a @web.Documents.list(keyword, null, order, null)}&{'_.allCategories'}#{/a}
            </li>
            #{list categories}
                <li class="${category?.id == _.id ? 'active' : ''}">
                    #{a @web.Documents.list(keyword, _.id, order, null)}${_.name}#{/a}
                </li>
            #{/list}
        </ul>
    </div>
    <div class="span10">
        <div id="document-list">
            #{include 'web/Documents/ajax_list.html' /}            
        </div>
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function() {
        $('.btn-more').button();
        $('.btn-more').live('click', function() {
            var button = $(this);
            var list = $('#document-list');
            button.button('loading');
            $.ajax({
                url : button.attr('href'),
                type : 'GET'
            }).success(function(html) {
                list.append(html);
                button.remove();
            }).error(function(data) {
                button.button('reset');
            });
            return false;
        });
    });
</script>
#{/set}