<div class="comment-list">
    #{if comments}
        #{list comments}
            #{comment.list-item comment : _, me : me /}
        #{/list}
    #{/if}
    #{else}
        <p class="alert alert-info">
            &{'comment.list.empty'}
        </p>
    #{/else}
</div>
#{if me}
    <div class="comment-new clearfix">
        <div class="comment-picture">
            #{user.picture user : me, size : 60 /}
        </div>
        <div class="comment-new-body">
            #{form @api.Comments.create(), class : 'comment-new-form'}
                <div class="alert hide">
                </div>
                <input type="hidden" name="comment.document.id" value="${document.id}" />
                <div class="control-group">
                    <textarea name="comment.content" rows="4"></textarea>
                </div>
                <div class="control-group">
                    <input type="submit" class="btn btn-primary btn-small" value="&{'comment.post'}"/>
                </div>
            #{/form}
        </div>
    </div>
#{/if}
#{else}
    <p class="alert">
        <a href="/auth/google/code?next=@{web.Documents.read(document.id, document.slug)}#document-comments">&{'comment.auth.login.needed'} </a>
    </p>
#{/else}
