<div class="comment-list">
#{if comments}
        #{list comments}
            #{comment.list-item comment : _, me : me /}
        #{/list}
#{/if}
</div>
#{if me}
        <div class="clearfix">
            <div class="comment-picture">
                #{user.picture user : me, size : 30 /}
            </div>
            <div class="comment-form">
                #{form @api.Comments.create(), class : 'new-comment-form'}
                    <div class="alert hide">
                    </div>
                    #{if parent}
                        <input type="hidden" name="comment.document.id" value="${parent.document.id}" />
                        <input type="hidden" name="comment.parent.id" value="${parent.id}" />
                    #{/if}
                    #{else}
                        <input type="hidden" name="comment.document.id" value="${document.id}" />
                    #{/else}
                    <div class="control-group">
                        <textarea name="comment.content" rows="4"></textarea>
                    </div>
                    <div class="control-group">
                        <input type="submit" class="btn btn-primary btn-small" value="&{'post.comment'}"/>
                    </div>
                #{/form}
            </div>
        </div>
    #{/if}
    #{else}
        <p class="alert">
            <a href="/auth/google/code"> &{'comment.auth.login.needed'} </a>
        </p>
    #{/else}
