#{extends 'web.html' /}
#{set title : 'Documents' /}

#{if order == null}
    #{set 'title' }
        &{'Documents'}
    #{/set}
#{/if}

#{if keyword}
    #{set 'subTitle' }
        #{if get('subTitle')}
            #{get 'subTitle' /} -
        #{/if}
        '${keyword}'
    #{/set}
#{/if}

#{if category}
    #{set 'subTitle' }
        #{if get('subTitle')}
            #{get 'subTitle' /} -
        #{/if}
        ${category.name}
    #{/set}
#{/if}

#{if order}
    #{set 'subTitle' }
        #{if get('subTitle')}
            #{get 'subTitle' /} -
        #{/if}
        &{'order.' + order}
    #{/set}
#{/if}

<div class="row-fluid">
    <div class="span2">
        <div class="control-group">
            #{if keyword}
                <a href="@{web.Documents.list()}">Clear search options</a>
            #{/if}
        </div>
        <ul class="nav nav-list">
            <li class="nav-header">
                <i class="icon-sort"></i> Sort by </span>
            </li>
            <li class="${order == null || order == 'recent' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'recent', null)}">
                    &{'order.recent'}
                </a>
            </li>
            <li class="${order == 'reads' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'reads', null)}">
                    &{'order.reads'}
                </a>
            </li>
            <li class="${order == 'downloads' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'downloads', null)}">
                    &{'order.downloads'}
                </a>
            </li>
            <li class="${order == 'clones' ? 'active' : ''}">
                <a href="@{list(keyword, category?.id, 'clones', null)}">
                    &{'order.clones'}
                </a>
            </li>
        </ul>
        <hr />
        <ul class="nav nav-list">
            <li class="nav-header">
                <i class="icon-folder-open"></i> Category
            </li>
            <li class="${category == _null ? 'active' : ''}">
                #{a @web.Documents.list(keyword, null, order, null)}&{'all.categories'}#{/a}
            </li>
            #{list categories}
                <li class="${category?.id == _.id ? 'active' : ''}">
                    #{a @web.Documents.list(keyword, _.id, order, null)}${_.name}#{/a}
                </li>
            #{/list}
        </ul>
    </div>
    <div class="span10">
        #{if documents}
            #{document.list documents : documents /}
            <div class="row-fluid">
                <div class="pager">
                    <ul>
                        <li>
                        #{if page > 1}
                            <a href="@{list(keyword, category?.id, order, (page != null ? page - 1 : 1))}">
                                &larr; &{'prev'}
                            </a>
                        #{/if}
                        #{else}
                            &larr; &{'prev'}
                        #{/else}
                        </li>
                        <li>
                            <a href="@{list(keyword, category?.id, order, (page != null ? 1 + page : 2))}" class="next">
                                &{'next'} &rarr;
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        #{/if}
        #{else}   
            <div class="alert alert-warning">
                <h3>&{'sorry'}</h3>
                <p>&{'document.list.end'}</p>
            </div>
        #{/else}
    </div>
</div>