#{extends 'web.html' /}
#{set title : document.title /}
#{i18n keys:['auth.login.needed', 'document.copy.error', 'document.copy.success', 'document.openOnGoogleDrive'] /}

<div class="copy-result"></div>
<div class="progress progress-striped active hide">
    <div class="bar" style="width: 100%;">
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="btn-toolbar">
            <div class="btn-group">
                 #{if me?.id == document.owner?.id}
                    <a href="@{edit(document.id)}"  class="btn btn-primary"><i class="icon-pencil"></i>
                        &{'document.edit'}
                    </a>
                #{/if}
            </div>
            <div class="btn-group">
                #{else}
                    <button type="button" class="btn btn-success button-copy" data-loading-text="&{'_.loading'}"><i class="icon-copy"></i>
                        &{'document.copyToGoogleDrive'}
                    </button>
                #{/else}
            </div>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-download-alt"></i> &{'document.downloadAs'}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    #{list document.exportLinks}
                        <li>
                            #{a @api.Documents.download(_.id)}
                                ${models.enums.Mime.parseName(_.mimeType)?.humanFriendlyName}
                            #{/a}
                        </li>
                    #{/list}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span8">
        <div class="row-fluid">
            <div class="span12">
                #{if document.embedLink}
                    <iframe src="${document.embedLink.raw()}" width="100%" height="800" frameborder="0"></iframe>
                #{/if}
                #{else}
                    <div class="alert alert-error">
                        <h3>&{'_.sorry'}</h3>
                        <p>&{'document.previewNotAvailable'}</p>
                    </div>
                #{/else}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>&{'_.comments'}</h3>
                <div id="document-comments">
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="document-view-infos">
            <div class="box">
                <span class='st_googleplus_vcount' displayText='Google +' st_url="@@{web.Documents.read(document.id, document.slug)}"></span>
                <span class='st_twitter_vcount' displayText='Twedsdset' st_url="@@{web.Documents.read(document.id, document.slug)}" st_via="opendocshub"></span>
                <span class='st_facebook_vcount' displayText='Facebook' st_url="@@{web.Documents.read(document.id, document.slug)}"></span>
                <span class='st_linkedin_vcount' displayText='LinkedIn' st_url="@@{web.Documents.read(document.id, document.slug)}"></span>
                <span class='st_email_vcount' displayText='Email'></span>
            </div>
            <div class="box">
                <h3>&{'document.stats'}</h3>
                <div class="box-content">
                    <table class="document-view-stats">
                        <tr>
                            <td>
                                <div class="document-view-stat">
                                    <i class="document-view-stat-icon icon-eye-open"></i>
                                    <span class="document-view-stat-number">${document.viewCount}</span>
                                    &{'_.views'}
                                </div>
                            </td>
                            <td>
                                 <div class="document-view-stat">
                                    <i class="document-view-stat-icon icon-thumbs-up"></i>
                                    <span class="document-view-stat-number">${document.likeCount}</span>
                                    &{'_.likes'}
                                 </div>
                            </td>
                            <td>
                                <div class="document-view-stat">
                                    <i class="document-view-stat-icon icon-download-alt"></i>
                                    <span class="document-view-stat-number">${document.downloadCount}</span>
                                    &{'_.downloads'}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="document-view-stat">
                                    <i class="document-view-stat-icon icon-copy"></i>
                                    <span class="document-view-stat-number">${document.copyCount}</span>
                                    &{'_.copies'}
                                </div>
                            </td>
                            <td>
                                 <div class="document-view-stat">
                                    <i class="document-view-stat-icon icon-comments"></i>
                                    <span class="document-view-stat-number">${document.commentCount}</span>
                                    &{'_.comments'}
                                </div>
                            </td>
                            <td>
                                 <div class="document-view-stat">
                                    <i class="document-view-stat-icon icon-th-list"></i>
                                    <span class="document-view-stat-number">${document.commentCount}</span>
                                    &{'_.discussions'}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box">
                <h3>&{'document.about'}</h3>
                <div class="box-content">
                    <table class="table">
                        <tr>
                            <td class="table-label">&{'document.sharedBy'}</td>
                            <td>
                                #{user.picture user : document.owner, size : 30, showName : true /}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-label">&{'document.category.id'}</td>
                            <td><a href="@{list(null, document.category.id, null, null)}">${document.category.name}</a></td>
                        </tr>
                        <tr>
                            <td class="table-label">&{'document.mimeType'}</td>
                            <td>
                                ${document.mime.humanFriendlyName}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-label">&{'document.fileSize'}</td>
                            <td>${document.fileSize.formatSize()}</td>
                        </tr>
                        <tr>
                            <td class="table-label">&{'document.created'}</td>
                            <td><div class="timeago" title="${_.created}">${document.created}</div></td>
                        </tr>
                        <tr>
                            <td class="table-label">&{'document.description'}</td>
                            <td>
                                ${document.description}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-label">&{'document.source'}</td>
                            <td>
                                ${document.source}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-label">Original</td>
                            <td>
                                <a href="${document.alternateLink}" target="_blank">
                                    <i class="icon-external-link"></i> &{'document.openOnGoogleDrive'}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
#{set 'moreScripts'}

<script type="text/javascript">
    function loadDocumentComments() {
        var listCommentsAction = #{jsRoute @web.Documents.listComments(':id', ':page') /};
        $.ajax({
            url : listCommentsAction.url({id: ${document.id}, page : 1}),
            type : listCommentsAction.method
        }).success(function(data){
            $('#document-comments').html(data);
        });
    };

    $(document).ready(function() {
        $('button.btn').button();
        $('.button-copy').click(function() {            
            #{if me == null}
                $('.copy-result').html('<div class="alert"><a href="/auth/google/code?next=${request.url}">' + i18n('auth.login.needed') + '</a></div>');
                return false;
            #{/if}
            $('.button-copy').button('loading');
            $('.progress').show();
            var createCopyAction = #{jsRoute @api.Documents.createCopy(':id') /};
            $.ajax({
                url : createCopyAction.url({id : ${document.id}}),
                type : createCopyAction.method,
                data : { authenticityToken : '${session.authenticityToken}'}
            }).success(function(data) {
                if (data.id) {
                    var jobStatusId = data.id;
                    $('.progress').show();
                    var trialCount = 0;
                    var checkInterval = setInterval(
                        function() {
                            if (trialCount < 20) {
                                trialCount++;
                                var checkDocumentJobStatusAction = #{jsRoute @api.DocumentJobsStatus.read(':id') /};
                                var documentGoAction = #{jsRoute @web.Documents.go(':id') /};
                                $.ajax({
                                    url : checkDocumentJobStatusAction.url({id : jobStatusId}),
                                    type : checkDocumentJobStatusAction.method,
                                    data : { authenticityToken : '${session.authenticityToken}'}
                                }).success(function(data) {
                                    $('.progress').removeClass('progress-warning');
                                    if (data.status == 'SUCCESS') {                                        
                                        $('.progress').addClass('progress-success');
                                        $('.copy-result').html('<div class="alert alert-success">' + i18n('document.copy.success') + ' <a href="' + data.result + '" target="_blank"><strong><i class="icon-external-link"></i> ' + i18n('document.openOnGoogleDrive') + '</strong></a></div>');
                                        $('.button-copy').button('reset');
                                        clearInterval(checkInterval);
                                    } else if (data.status == 'FAIL') {
                                        $('.copy-result').html('<div class="alert alert-error">' + i18n('document.copy.error') + '</div>');
                                        $('.progress').addClass('progress-danger');
                                        $('.button-copy').button('reset');
                                        clearInterval(checkInterval);
                                        trialCount = 0;
                                    } else {
                                        $('.progress').addClass('progress-warning');
                                    }
                                }).error(function(data) {});
                            } else {
                                $('.progress').removeClass('progress-warning');
                                $('.copy-result').html('<div class="alert alert-error">' + i18n('document.copy.error') + '</div>');                                
                                $('.progress').addClass('progress-danger');
                                $('.button-copy').button('reset');
                                clearInterval(checkInterval);
                                trialCount = 0;
                            }
                        }, 2000
                    );
                }
            }).error(function(data) {
                $('.copy-result').html('<div class="alert alert-error">' + i18n('document.upload.error.notice') + '</div>');
                $('.progress').addClass('progress-danger');
                $('button.btn').button('reset');
            });
            return false;
        });


        setTimeout(
            function() {
                loadDocumentComments();
            },
            2000
        );

        setTimeout(
            function() {
                var markAsViewedAction = #{jsRoute @api.Documents.markAsViewed(':id') /};
                $.ajax({
                    url : markAsViewedAction.url({id: ${document.id}}),
                    type : markAsViewedAction.method,
                    data : { authenticityToken : '${session.authenticityToken}'}
                });
            },
            30000
        );
    });

    $('.timeago').timeago();

    $('.comment-new-form').live('submit', function() {
        var form = this;
        var button = $(form).find('.btn-primary');
        var list =  $(form).parent().parent().prev(); // not really nice, but will do for now

        var alert =  $(form).find('.alert');
        alert.hide();
            button.button('loading');
            var createCommentAction = #{jsRoute @api.Comments.create() /};
            $.ajax({
                url : createCommentAction.url(),
                type : createCommentAction.method,
                data : $(this).serialize()
            }).success(function(data) {
                loadDocumentComments();
            }).error(function() {
                alert.addClass('alert-error').html('&{"error.notice"}').show();
            }).complete(function() {
                button.button('reset');
            });
            return false;
    });

    $('.comment-delete').live('click', function() {
        var link =  $(this);
        var form = link.prev();
        $.ajax({
            url : form.attr('action'),
            type : 'POST',
            data : form.serialize()
        }).success(function(data) {
            link.parent().parent().parent().html("&{'comment.deleted'}");
        });
        return false;
    });

</script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-d12e6cdb-43db-6330-be48-9b189264bb72"});</script>
#{/set}