#{extends 'web.html' /}
#{set title : document.title /}
#{i18n keys:['_.you', 'auth.login.needed', 'document.copy.error', 'document.copy.success', 'document.openOnGoogleDrive'] /}
<div class="row">
    <div class="twelve columns">
        <div class="copy-result"></div>
        <div class="progress progress-striped active hide">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <div class="button-section">
            #{vote.button class : 'button small', me : me, objectType : 'document', objectId : document.id, voteCount : document.voteCount /}
            <div class="small button dropdown">
                <i class="icon-download"></i> &{'document.download'} (${document.downloadCount})
                <ul>
                    #{list document.exportLinks}
                        <li>
                            #{a @api.Documents.download(_.id)}
                                ${models.enums.Mime.parseName(_.mimeType)?.humanFriendlyName}
                            #{/a}
                        </li>
                    #{/list}
                </ul>
            </div>
            #{if me}
                #{if document.owner?.id != me.id}
                    <button type="button" class="button small button-copy" data-loading-text="&{'_.loading'}"><i class="icon-google-drive"></i>
                        &{'document.copyToGoogleDrive'} (${document.copyCount})
                    </button>
                #{/if}
                <a href="#new-comment" class="button small button-comment-focus">
                    <i class="icon-comments-2"></i>
                    &{'document.postComment'} (${document.commentCount})
                </a>
            #{/if}
            #{else}
                <button type="button" class="button small button-login" data-loading-text="&{'_.loading'}">
                    <i class="icon-google-drive"></i>
                    &{'document.copyToGoogleDrive'} (${document.copyCount})
                </button>
                <a href="#" class="button small button-login">
                    <i class="icon-comments-2"></i>
                    &{'document.postComment'} (${document.commentCount})
                </a>
            #{/else}
        </div>
    </div>
</div>
<div class="row">
    <div class="eight columns">
        #{if document.embedLink}
            <iframe src="${document.embedLink.raw()}" width="100%" height="850" class="document-iframe" frameborder="0"></iframe>
        #{/if}
        #{else}
            <div class="alert-box error">
                <h3>&{'_.sorry'}</h3>
                    <p>&{'document.previewNotAvailable'}</p>
            </div>
        #{/else}
        <div>
            <span class='st_googleplus_hcount' displayText='Google +' st_url="@@{web.Documents.read(document.id, document.slug)}"></span>
            <span class='st_twitter_hcount' displayText='Twedsdset' st_url="@@{web.Documents.read(document.id, document.slug)}" st_via="opendocshub"></span>
            <span class='st_facebook_hcount' displayText='Facebook' st_url="@@{web.Documents.read(document.id, document.slug)}"></span>
            <span class='st_linkedin_hcount' displayText='LinkedIn' st_url="@@{web.Documents.read(document.id, document.slug)}"></span>
            <span class='st_email_hcount' displayText='Email'></span>
        </div>
        <h4 class="box-header">&{'_.comments'} (${document.commentCount})</h4>
        <div id="document-comments">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <div class="four columns">
        <div class="box">
            <h4 class="box-header">&{'_.discussions'} (${document.discussionCount})</h4>
            <div class="box-content">
                #{if discussions}
                    <ul>
                    #{list discussions}
                        <li>
                            #{discussion.title discussion : _.discussion /}
                        </li>
                    #{/list}
                    </ul>
                #{/if}
                #{else}
                    <p>
                        There are no discussions about this document yet.
                    </p>
                #{/else}
            </div>
            <div class="button-section">
                <a href="@{web.Discussions.add(document.id)}" class="button small success">
                    <i class="icon-comments-3">&nbsp;</i> &{'_.startDiscussion'}
                </a>
             </div>
        </div>
        <div class="box">
            <h4 class="box-header">&{'document.about'}</h4>
            <div class="button-section">
                #{if me?.id == document.owner?.id}
                    <a href="@{edit(document.id)}"  class="button small alert"><i class="icon-pencil"></i>
                        &{'document.edit'}
                    </a>
                #{/if}
            </div>
            <div class="box-content">
                <table class="document-view-infos">
                    <tr>
                        <td class="table-label">&{'document.sharedBy'}</td>
                        <td>
                            #{user.picture user : document.owner, size : 30, showName : true /}
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">&{'document.category.id'}</td>
                        <td><a href="@{list(null, document.category.id, null, null)}">${document.category.name}</a></td>
                    </tr>
                    <tr>
                        <td class="table-label">&{'document.mimeType'}</td>
                        <td>
                             ${document.mime.humanFriendlyName}
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">&{'document.fileSize'}</td>
                        <td>${document.fileSize.formatSize()}</td>
                    </tr>
                    <tr>
                        <td class="table-label">&{'document.created'}</td>
                        <td>#{block.time time : document.created /}</td>
                    </tr>
                    <tr>
                        <td class="table-label">&{'document.description'}</td>
                        <td>
                            ${document.description}
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">&{'document.source'}</td>
                        <td>
                             <p class="document-source">
                                 ${document.source}
                             </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">&{'document.tags'}</td>
                        <td>
                            #{list document.tagsAsList}
                                <a href="@{web.Documents.list(_)}"><span class="label round secondary">${_}</span></a>
                            #{/list}
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">&{'_.views'}</td>
                        <td>
                            ${document.viewCount }
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">Original</td>
                        <td>
                            <a href="${document.alternateLink}" target="_blank">
                                <i class="icon-new-tab"></i> &{'document.openOnGoogleDrive'}
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

#{set 'moreScripts'}
    #{comment.scripts objectType : 'document', objectId : document.id, commentsElement : '#document-comments' /}
    #{vote.scripts /}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.button').button();
            $('.button-copy').click(function() {
                #{if me == null}
                    $('.copy-result').html('<div class="alert-box"><a href="/auth/google/code?next=${request.url}">' + i18n('auth.login.needed') + '</a></div>');
                    return false;
                #{/if}
                $('.button-copy').button('loading');
                $('.progress').show();
                var createCopyAction = #{jsRoute @api.Documents.createCopy(':id') /};
                $.ajax({
                    url : createCopyAction.url({id : ${document.id}}),
                    type : createCopyAction.method,
                    data : { authenticityToken : '${session.authenticityToken}'}
                }).success(function(data) {
                    if (data.id) {
                        var jobStatusId = data.id;
                        $('.progress').show();
                        var trialCount = 0;
                        var checkInterval = setInterval(
                            function() {
                                if (trialCount < 20) {
                                    trialCount++;
                                    var checkDocumentJobStatusAction = #{jsRoute @api.DocumentJobsStatus.read(':id') /};
                                    var documentGoAction = #{jsRoute @web.Documents.go(':id') /};
                                    $.ajax({
                                        url : checkDocumentJobStatusAction.url({id : jobStatusId}),
                                        type : checkDocumentJobStatusAction.method,
                                        data : { authenticityToken : '${session.authenticityToken}'}
                                    }).success(function(data) {
                                        $('.progress').removeClass('progress-warning');
                                        if (data.status == 'SUCCESS') {
                                            $('.progress').addClass('progress-success');
                                            $('.copy-result').html('<div class="alert-box success">' + i18n('document.copy.success') + ' <a href="' + data.result + '" target="_blank"><strong><i class="icon-new-tab"></i> ' + i18n('document.openOnGoogleDrive') + '</strong></a></div>');
                                            $('.button-copy').button('reset');
                                            clearInterval(checkInterval);
                                        } else if (data.status == 'FAIL') {
                                            $('.copy-result').html('<div class="alert alert-error">' + i18n('document.copy.error') + '</div>');
                                            $('.progress').addClass('progress-danger');
                                            $('.button-copy').button('reset');
                                            clearInterval(checkInterval);
                                            trialCount = 0;
                                        } else {
                                            $('.progress').addClass('progress-warning');
                                        }
                                    }).error(function(data) {});
                                } else {
                                    $('.progress').removeClass('progress-warning');
                                    $('.copy-result').html('<div class="alert-box alert">' + i18n('document.copy.error') + '</div>');                                
                                    $('.progress').addClass('progress-danger');
                                    $('.button-copy').button('reset');
                                    clearInterval(checkInterval);
                                    trialCount = 0;
                                }
                            }, 2000
                        );
                    }
                }).error(function(data) {
                    $('.copy-result').html('<div class="alert-box alert">' + i18n('document.upload.error.notice') + '</div>');
                    $('.progress').addClass('progress-danger');
                    $('button.btn').button('reset');
                });
                return false;
            });

            setTimeout(
                function() {
                    var markAsViewedAction = #{jsRoute @api.Documents.markAsViewed(':id') /};
                    $.ajax({
                        url : markAsViewedAction.url({id: ${document.id}}),
                        type : markAsViewedAction.method,
                        data : { authenticityToken : '${session.authenticityToken}'}
                    });
                },
                30000
            );
        });
        $('.timeago').timeago();
</script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-d12e6cdb-43db-6330-be48-9b189264bb72"});</script>
#{/set}