<td>
    <a href="${_document.permalink}">
        <img src="${_document.thumbnailUrl}" alt="${_document.title}"  style="border : 1px solid #dddddd" width="50">
    </a>    
</td>
<td>
    <div class="document-list-item-title">
        <a href="${_document.permalink}">
            ${_document.title}
        </a>
    </div>
    <p>
        ${_document.description?.length() >  200 ? _document.description.substring(0, 200) + '...' :  _document.description}
        &nbsp;
    </p>
    <p>
        <a href="@{list(null, _document.category.id, null, null)}">${_document.category.name}</a>
    </p>
    <div class="timeago" title="${_document.created}">${_document.created}</div>
</td>
<td>
    <p>
        Format : <strong>${_document.mime.humanFriendlyName}</strong>
    </p>
    <p>
        Size : <strong>${_document.fileSize.formatSize()}</strong>
    </p>    
</td>
<td>
    ${_document.readCount} views
</td>
<td>
    ${_document.downloadCount} downloads
</td>
<td>
    ${_document.cloneCount} clones
</td>
<td>
    ${_document.commentCount} comments
</td>