<table class="document-stats">
    <tr>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.votesIconHelp'}">
                <i class="document-stat-icon icon-thumbs-up"></i>
                <span class="document-stat-number document-${_document.id}-voteCount">${_document.voteCount}</span>
            </div>
        </td>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.copiesIconHelp'}">
                <i class="document-stat-icon icon-google-drive"></i>
                <span class="document-stat-number">${_document.copyCount}</span>
            </div>
        </td>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.downloadsIconHelp'}">
                <i class="document-stat-icon icon-download"></i>
                <span class="document-stat-number">${_document.downloadCount}</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.viewsIconHelp'}">
                <i class="document-stat-icon icon-eye"></i>
                <span class="document-stat-number">${_document.viewCount}</span>
            </div>
        </td>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.commentsIconHelp'}">
                <i class="document-stat-icon icon-comments-2"></i>
                <span class="document-stat-number">${_document.commentCount}</span>
            </div>
        </td>
        <td>
            <div class="document-stat has-tip tip-top" title="&{'_.discussionsIconHelp'}">
                <i class="document-stat-icon icon-comments"></i>
                <span class="document-stat-number">${_document.discussionCount}</span>
            </div>
        </td>
    </tr>
</table>