<div class="document-title">
    #{if _document.mime.humanFriendlyName == '.pdf' }
        <i class="icon-file-pdf"></i>
    #{/if}
    #{elseif  _document.mime.humanFriendlyName == '.docx' || _document.mime.humanFriendlyName == '.doc'}
        <i class="icon-file-word"></i>
    #{/elseif}
    #{elseif  _document.mime.humanFriendlyName == '.pptx' }
        <i class="icon-file-powerpoint"></i>
    #{/elseif}
    #{else}
        <i class="icon-document-alt-stroke"></i>
    #{/else}
    <a href="${_document.permalink}"> ${_document.title.toLowerCase()} </a>
</div>