<ul class="nav">
    #{if _user}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i> &{'_.account'}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    #{user.picture user : _user, size : 20, showName : true /}
                </li>
                 <li class="divider"></li>
                <li>
                    #{a @web.Auth.logout()}
                        &{'auth.logout'}
                    #{/a}
                </li>
            </ul>
        </li>
    #{/if}
    #{else}
        <li>
            #{a @web.Auth.googleCode()}
                <i class="icon-google-plus-sign"></i>
                &{'auth.login'}
            #{/a}
        </li>
    #{/else}
</ul>