<ul class="left">
    <li class="divider"></li>
    #{if _user}
        <li class="has-dropdown">
            <a href="#"><i class="icon-user"></i> &{'_.account'}</a>
            <ul class="dropdown">
                <li>
                    #{user.picture user : _user, size : 20, showName : true /}
                </li>
                <li class="divider"></li>
                <li>
                    #{a @web.Auth.logout()}
                        &{'auth.logout'}
                    #{/a}
                </li>
            </ul>
        </li>
    #{/if}
    #{else}
        <li>
            #{a @web.Auth.googleCode(request.url)}
                <i class="icon-google-plus"></i>
                &{'auth.login'}
            #{/a}
        </li>
    #{/else}
</ul>