<!DOCTYPE html>
<html lang="${appLanguage}">
    <head>
        <meta charset="utf-8">
        <title>#{get 'title' /}#{if get('subTitle')} - #{get 'subTitle' /}#{/if} - ${play.configuration.getProperty("application.fullName")}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="${document?.title ? messages.get('read.document.on', document.title) : ''} &{'application.fullName'}">
        <link rel="image_src" type="image/jpeg" href="${document?.thumbnailUrl ? document.thumbnailUrl : request.host + '/public/images/logo.png'}" />
        <link rel="icon" type="image/png" href="/public/images/favicon.png">

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet" type="text/css">
        #{press.stylesheet 'web.css' /}
        #{press.compressed-stylesheet /}
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css" type="text/css">
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand logo" href="@{web.WebController.index()}">
                        ${play.configuration.getProperty("application.fullName")}
                    </a>
                    <div class="nav-collapse collapse">
                        #{block.menu /}
                        #{block.header-user user : me /}
                        #{form @web.Documents.list(), class : 'form-search header-search pull-right'}
                            <input type="text" class="search-query input-large" name="keyword" value="${keyword}" placeholder="&{'enter.keyword'}" />
                            <button type="submit" class="btn btn-primary">&{'Search'}</button>
                        #{/form}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container" id="main-container">
            #{if flash?.error || flash?.success}
                <div class="row-fluid">
                    <div class="span12">
                        #{if flash?.error}
                            <div class="alert alert-error">
                                ${flash?.error.raw()}
                            </div>
                        #{/if}
                        #{if flash?.success}
                            <div class="alert alert-success">
                                ${flash?.success.raw()}
                            </div>
                        #{/if}
                    </div>
                </div>
            #{/if}
            #{if request.url != '/'}
                <div class="page-header">
                    <h1>#{get 'title' /}
                        #{if get('subTitle')}
                            <small>:: #{get 'subTitle' /}</small>
                        #{/if}
                    </h1>
                </div>
            #{/if}
            #{doLayout /}
        </div><!-- /container -->
        <div class="container" id="footer">
            <div class="row-fluid">
                <div class="span12">
                    &copy; <a href="@{web.WebController.index()}">${play.configuration.getProperty("application.fullName")}</a> - Powered By
                    <a href="http://www.opendocshub.org"> The Open Docs Hub Project </a>
                </div>
            </div>
        </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js" type="text/javascript"></script>
    #{press.script 'jquery.timeago.js' /}
    #{press.script 'jquery.timeago.' + lang + '.js' /}
    #{press.script 'jquery-form-3.10.js' /}
    #{press.script 'json2.js' /}
    #{press.compressed-script /}
    <script>
        $(document).ready(function() {
                $(".timeago").timeago();
        });
    </script>
    #{get 'moreScripts' /}
  </body>
</html>