<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="${lang}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="${lang}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="${lang}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="${lang}"> <!--<![endif]-->
    <head>
        <title>#{get 'title' /}#{if get('subTitle')} - #{get 'subTitle' /}#{/if} - ${siteName}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="${document?.title ? messages.get('read.document.on', document.title) : get('title')} ${siteName}">

        <meta property="og:title" content="#{get 'title' /}#{if get('subTitle')} - #{get 'subTitle' /}#{/if} - ${siteName}" />
        <meta property="og:url" content="${request.secure ? 'https' : 'http' }://${request.host + request.url}" />
        <meta property="og:image" content="${request.secure ? 'https' : 'http' }://${request.host + (document?.thumbnailUrl ? document.thumbnailUrl : '/public/images/logo.png')}" />
        <meta property="og:description" content="${document?.title ? messages.get('read.document.on', document.title) : get('title')} ${siteName}" />
        <meta property="og:site_name" content="${siteName}" />

        <link rel="image_src" type="image/jpeg" href="${request.secure ? 'https' : 'http' }://${request.host + (document?.thumbnailUrl ? document.thumbnailUrl : '/public/images/logo.png')}" />
        <link rel="icon" type="image/png" href="@@{'/public/images/favicon.png'}">
        #{press.stylesheet 'foundation.min.css' /}
        #{press.stylesheet 'icons.css' /}
        #{press.stylesheet 'joyride-2.0.1.css' /}
        #{press.stylesheet 'app.css' /}
        #{press.compressed-stylesheet /}

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="top-bar">
            <ul>
                <li class="name">
                    <h1>
                        <a class="logo" href="@{web.WebController.index()}">
                            ${siteName}
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar"><a href="#"></a></li>
            </ul>
            <section>
                #{block.menu /}
                #{block.top-bar-user user : me /}
            </section>
        </nav>
        <div class="row" id="main-container">
            <div class="twelve columns">
                #{if flash?.error || flash?.success}
                    <div class="row">
                        <div class="twelve columns">
                            #{if flash?.error}
                                <div class="alert-box alert">
                                    ${flash?.error.raw()}
                                </div>
                            #{/if}
                            #{if flash?.success}
                                <div class="alert-box success">
                                    ${flash?.success.raw()}
                                </div>
                            #{/if}
                        </div>
                    </div>
                #{/if}
                #{if request.url != '/'}
                    <div class="row">
                        <div class="twelve columns">
                            <h1>${get('title')?.toLowerCase()?.raw()}
                                #{if get('subTitle')}
                                    <small>:: #{get 'subTitle' /}</small>
                                #{/if}
                            </h1>
                        </div>
                    </div>
                #{/if}
                <div class="row">
                    <div class="twelve columns">
                        #{doLayout /}
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="twelve columns">
                    <p>
                        &copy; <a href="@{web.WebController.index()}">${siteName}</a> - Powered By <a href="http://www.opendocshub.org">&{'_.openDocsHubProject'}</a>
                    </p>
                </div>
            </div>
        </footer>

        #{get 'modalDialogs' /}
        <div id="login-modal" class="reveal-modal small">
            <h2>Hello there!</h2>
            <p class="lead">Join our community!</p>
            <p>
                #{a @web.Auth.googleCode(request.url), class : 'button large success'}
                    <i class="icon-google-plus"></i>
                    &{'auth.login'}
                #{/a}
            </p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        #{press.script 'foundation.min.js' /}
        #{press.script 'app.js' /}
        #{press.script 'jquery.joyride-2.0.1.js' /}
        #{press.script 'jquery.cookie.js' /}
        #{press.script 'bootstrap.button.js' /}
        #{press.script 'jquery.timeago.js' /}
        #{press.script 'jquery.timeago.' + lang + '.js' /}
        #{press.script 'jquery-form-3.10.js' /}
        #{press.script 'json2.js' /}
        #{press.compressed-script /}
        <script>
            $(document).ready(function() {
                $('.timeago').timeago();
                $(document).foundationTopBar();
                $(document).foundationTooltips();
                $('.button-login').live('click',function() {
                    $('#login-modal').reveal();
                    return false;
                });
            });
        </script>
        #{get 'moreScripts' /}
    </body>
</html>